<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile Page</h1>
    <h1>welcomn <%= user.name%></h1>
    <h3>Email  <%= user.email%></h3>
    <h3>Role  <%= user.desig%></h3>
</body>
</html>